@model IEnumerable<App.Entity.Reserva>

<div  style="text-align:center; margin-bottom:20px;">
    <h1>
        <span class="label label-default" style="background-color:black;">Anular Reserva</span>
    </h1>
</div>


@if (Session["Reserva.Anular"] != null)
{
   <script>
       swal({
           title: "",
           text: "@Session["Reserva.Anular"]",
           icon: "success"
       });
   </script>

    Session["Reserva.Anular"] = null;
}


@using (Html.BeginForm("Apply", "Reserva"))
{

    <div class="form-inline" style="margin-bottom:20px">
        <button type="button" class="btn btn-default" onclick="$.searchReservas()">
            <span class="glyphicon glyphicon-search" style="margin-right:5px;"></span>Verificar Reserva
        </button>

        <button type="submit" class="btn btn-danger" style="float:right; margin-left:10px;">
            <span class="glyphicon glyphicon-trash" style="margin-right:5px;"></span>Anular
        </button>

        <div style="float:right;">
            <a href="/" class="btn btn-warning"> <span class="glyphicon glyphicon-remove"> </span> Cancelar</a>
        </div>

    </div>


    <div>

        <input type="hidden" name="IdReserva"  id="IdReserva"/>

        <table class="table table-responsive table-fixed">

            <thead class="th-bg-black">
                <tr>
                    <th style="width: 15%;">
                        Codigo
                    </th>
                    <th style="width: 25%;">
                        Cliente
                    </th>
                    <th style="width: 25%;">
                        Fecha de Reserva
                    </th>
                    <th style="width: 15%;">
                        Hora de Ingreso
                    </th>
                    <th style="width: 10%;">
                        Habitacion
                    </th>
                    <th style="width: 10%; height:38px;"> </th>
                </tr>
            </thead>

        
            <tbody class="table-body--lg table-anular">
                <tr class="row row-table">
                    
                </tr>
            </tbody>

        </table>

    </div>

    
}
<script>

    var RESERVAS = @Html.Raw(ViewBag.JsReservas);


</script>

@Html.Partial("_Modal_reserva");



