@model App.Entity.Reserva


@using (Html.BeginForm("Anular", "Reserva", FormMethod.Get))
{

    <div style="position: relative;">
        <div class="form-inline" style="margin-bottom:20px">
            <div class="form-group">
                <label class="sr-only" for="exampleInputEmail3">Email address</label>
                <input type="text" class="form-control" name="criterio" id="exampleInputEmail3" placeholder="Ingresar DNI">
            </div>
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"> </span>Verificar Reserva
            </button>
            <div style="float:right;">
                <a  href="/" class="btn btn-warning"> <span class="glyphicon glyphicon-remove"> </span> Cancelar</a>
            </div>
            
        </div>
        
    </div>
}
